{% extends 'layout.njk' %}

{% block content %}

<section class="index">


<div class="title">
<h1>Come to Recall Inc 
where you can buy the memory of your ideal vacation
cheaper, safer and better then the real thing</h1>
</div>


<div class="card-subscribe">
<h1>So don`t let life pass by.
Call recall for the memory of a lifetime</h1>

<a class="btn" href="subscribe" >SUBSCRIBE</a>

</div>


</section>

{% endblock %}