


*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


 /* INDEX  */
 .index {

    /* The image used */
    background-image: url("/index.jpg");
    background-position: left;
    background-repeat: repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
 }
 
div.title {
    width: 800px;
    margin: 0 auto;
    margin-top: 70px;
    font-family: Ferghaus Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: white;
}

 /* CARD DARK GREEN  */

 .card-subscribe {
    margin: 70px auto;
    width: 550px;
    height: 350px;
    padding: 10px;
    
    background: rgba(16, 37, 36, 0.75);
    box-shadow: 7.97714px 11.9657px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5.98286px;
 }

.card-subscribe h1 {
    width: 350px;
    height: 182.98px;
    
    font-family: Ferghaus Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 52px;
    display: block;
    margin: 30px auto 30px;
    text-align: center;
    
    color: #E74C3B;
 }

a.btn {
    display: block;
    width: 200px;
    height: 50px;
    text-decoration: none;
    background: #FFFFFF;
    border-radius: 3px;
    letter-spacing: 1px;
    font-family: Ferghaus Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 46px;
    margin: 0 auto;
    text-align: center;
    color: #2E3E3D;
 }


 /* FORM SUBSCRIBE  */

 .bg-subscribe {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.92), rgba(255, 255, 255, 0.92)), url("/02\ Shuttle\ landing\ on\ Mars\ Total\ Recall\ 1990\ movie\ image.jpg");
    background-blend-mode: soft-light, normal;
    /* filter: blur(30px); */
    /* Center and scale the image nicely */
    background-position: left;
    background-repeat: repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
 }

 form {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
    margin: 50px auto;
    width: 70%;
    /* margin: 50px auto; */
    /* width: 798px; */
    min-height: 570px;
    background-color:  #F4F0E6;
    box-shadow: -5.7px 6.84px 9.12px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(50px);
    /* Note: backdrop-filter has minimal browser support */
 }

.info-card h1 {
    width: 308.94px;
    height: 52.44px;
    left: 633.1px;
    top: 133.24px;
    
    font-family: Ferghaus Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 45.6px;
    line-height: 52px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: #E74C3B;
 }

 .img-card img {
    
    max-width: 100%;
    height: 100%;
 }

 .info-card {
    padding-left: 20px;
}

.info-card h1 {
    /* width: 308.94px; */
    /* height: 52.44px; */
    /* left: 633.1px; */
    /* top: 133.24px; */
    /* font-family: Ferghaus Sans; */
    /* font-style: normal; */
    /* font-weight: normal; */
    /* font-size: 45.6px; */
    /* line-height: 52px; */
    /* display: block; */
    /* margin: 30px auto; */
    /* align-items: center; */
    /* color: #E74C3B; */

    margin-left: 0;
    padding-left: 40px;
    text-align: left;
    width: 308.94px;
    height: 52.44px;
    margin-top: 30px;
    font-family: Ferghaus Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 37px;
    margin-bottom: 35px;
    color: #E74C3B;
 }

 .info-card-infos {
     display: flex;
     flex-direction: column;
     margin-left: 40px;
 }

 .info-card-infos > div {
    margin-bottom: 20px; 



 }

 label {
    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    margin-right: 10px;
    color: #809694;
 }

 input[type="radio"] {
     margin-left: 10px;
     margin-right: 5px;
 }

 input[type="text"] {
    width: 200px;
    height: 30.78px;
    
    background: #FFFFFF;
    /* border-radius: 3px; */
 }

 input#name {
     width: 280px;
 }

 span {
    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 18.24px;
    line-height: 31px;
    align-items: center;
    
    color: #102524;
 }

.roleplay-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.roleplay-options input[type="radio"] {
    /* font-size: 18px; */
    margin-left: 0;
}



.btn-form {
    display: flex;
    font-family: Ferghaus Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18.24px;
    line-height: 21px;

    color: #FFFFFF;
    margin-top: 30px;
}

.cancel-btn {
    width: 130px;
    height: 50px;
    background: #c6c2b9;
    /* background: #809694; */
    box-shadow: 0px 4.56px 6.84px rgba(0, 0, 0, 0.2);
    border-radius: 3.42px;

    font-family: Ferghaus Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 21px;
    margin-left: 25px;
    color: #FFFFFF;
}

.confirm-btn {
    width: 130px;
    height: 50px;
    background: #1AAB9D;
    box-shadow: 0px 4.56px 6.84px rgba(0, 0, 0, 0.2);
    border-radius: 3.42px;

    font-family: Ferghaus Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 21px;
    margin-left: 50px;
    color: #FFFFFF;
}



 /* UPDATE FORM  */

 .bg-update {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.92), rgba(255, 255, 255, 0.92)), url("/24\ Arnold\ Schwarzenegger\ on\ terraformed\ Mars\ Total\ Recall\ 1990\ movie\ image.jpg");
    background-blend-mode: soft-light, normal;
    /* filter: blur(30px); */
    /* Center and scale the image nicely */
    background-position: left;
    background-repeat: repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
 }

 .bg-update img {
    width: 339px;
    height: 100%;
 }


 .update-btn {
    width: 90%;
    height: 44px; 
    background: #1AAB9D;
    box-shadow: 0px 4.56px 6.84px rgba(0, 0, 0, 0.2);
    border-radius: 3.42px;

    font-family: Ferghaus Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-align: center;

    color: #FFFFFF;
 }


 /* USER FORM  */

 .bg-userForm {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.92), rgba(255, 255, 255, 0.92)), url("/04\ Astronauts\ on\ Mars\ Total\ Recall\ 1990\ movie\ image.jpg");
    background-blend-mode: soft-light, normal;
    /* filter: blur(30px); */
    /* Center and scale the image nicely */
    background-position: left;
    background-repeat: repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
 }

 .bg-userForm img {
    width: 100%;
    /* width: 339px; */
    height: 100%;
 }

 .bg-userForm div.info-card {
    padding-left: 60px;
}

 .edit-btn {
    width: 90%;
    height: 44px; 
    background: #E47367;;
    box-shadow: 0px 4.56px 6.84px rgba(0, 0, 0, 0.2);
    border-radius: 3.42px;

    font-family: Ferghaus Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-align: center;

    color: #FFFFFF;
    text-align: center;
    padding: 14px;
    text-decoration: none;
 }

 .field-title h1 {
    margin-left: 0;
    padding-left: 0;
    text-align: left;

    width: 308.94px;
    height: 52.44px;
    margin-top: 30px;
    font-family: Ferghaus Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 37px;
    margin-bottom: 35px;
    
    color: #E74C3B;
 }

 .field-items label {
    width: 58.14px;
    height: 27.36px;
    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #667E7B;
 }

 .field-items {
    margin-bottom: 15px;
 }

 div.user {

    width: 168px;
    height: 24px;  
    font-family: Futura Cond;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 29px;
    color: #102524;
 }


 /* FORM COMPLETED  */

.form-complete {
        /* The image used */
        background-image: url("/mars.png");

        /* Full height */
        /* height: 100vh;  */
    
        /* Center and scale the image nicely */
        background-position: left;
        background-repeat: repeat;
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 100%;

 }

.card-form-complete {
    padding: 40px;
    width: 398.86px;
    height: 299.14px;
    background: rgba(16, 37, 36, 0.8);
    box-shadow: 7.97714px 11.9657px 7.97714px rgba(0, 0, 0, 0.4);
    border-radius: 5.98286px;
    margin: 22% auto;
 }

 .card-form-complete h1 {
    width: 335.04px;
    margin-top: 30px;
    height: 100px;
    font-family: Ferghaus Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 35.8971px;
    line-height: 41px;
    display: block;
    margin: 0 auto;
    color: #E74C3B;
    text-align: center;
 }

 .card-form-complete h2 {

    width: 271.22px;
    height: 37.89px;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-family: Ferghaus Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 27.92px;
    line-height: 32px;
    color: #FFFFFF;

 }

 .card-form-complete a {
    width: 271.22px;
    height: 37.89px;
    
    font-family: Ferghaus Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15.9543px;
    line-height: 18px;
    
    color: rgba(255, 255, 255, 0.5);

    display: block;
    text-decoration: none;
    margin: 70px auto;
    text-align: center;
 }


 /* NOT FOUND USER PAGE  */

 .notFound {
   background: linear-gradient(0deg, rgba(255, 255, 255, 0.92), rgba(255, 255, 255, 0.92)), url("https://images2.minutemediacdn.com/image/upload/c_fill,g_auto,h_1248,w_2220/f_auto,q_auto,w_1100/v1555437466/shape/mentalfloss/789484895.png");
   background-blend-mode: soft-light, normal;
   /* filter: blur(30px); */
   /* Center and scale the image nicely */
   background-position: left;
   background-repeat: repeat;
   background-size: cover;
   position: absolute;
   width: 100%;
   height: 100%;
}

 .card-backHome {
   padding: 20px;
   width: 300px;
   height: 70px;
   background: rgba(16, 37, 36, 0.8);
   box-shadow: 7.97714px 11.9657px 7.97714px rgba(0, 0, 0, 0.4);
   border-radius: 5.98286px;
   margin: 30% auto;
 }

 .card-backHome a {
   text-decoration: none;
   /* width: 271.22px; */
   display: block;
   margin: 0 auto;
   text-align: center;
   font-family: Ferghaus Sans;
   font-style: normal;
   font-weight: normal;
   font-size: 26px;
   line-height: 32px;
   color: rgba(255, 255, 255, 0.7);
 }
