{% extends "layout.njk" %}

{% block content %}

<section class="bg-subscribe">

<form action="/subscribe" method="POST">

<div class="img-card">
<img src="/subscribe.png" alt="">
</div>

<div class="info-card">

<h1>{{foundUser.name}}</h1>

{% include 'form-fields.njk' %}



</div>


</form>

</section>

{% endblock  %}