{% extends 'layout.njk' %}

{% block content %}

<section class="form-complete">


<div class="card-form-complete">

<h1>memories have been successfully implanted</h1>
<h2>CONGRATULATIONS</h2>

<a class="back-link" href="/">BACK TO HOME</a>

</div>


</section>

{% endblock %}