{% extends "layout.njk" %}

{% block content %}

<section class="bg-userForm">

<form action="" method="POST">

<div class="img-card">
<img src="form2.png" alt="">
</div>

<div class="info-card">

<div class="field-title">
<h1>{{ userInfo.name }}</h1>
</div>

<div class="field-items">
<label for="">date of procedure</label>
<div class="user">{{ userInfo.created_at }}</div>
</div>

<div class="field-items">
<label for="">Gender</label>
<div class="user">{{ userInfo.gender }}</div>
</div>


<div class="field-items">
<label for="">Destination</label>
<div class="user">{{ userInfo.destination }}</div>
</div>

<div class="field-items">
<label for="">Sexual orientation</label>
<div class="user">{{ userInfo.sexualOrientation }}</div>
</div>

<div class="field-items">
<label for="">Would you like some aliens stuff?</label>
<div class="user">{{ userInfo.alienStuff }}</div>
</div>

<div class="field-items">
<label for="">Role-playing</label>
<div class="user">{{ userInfo.rolePlaying }}</div>
</div>


<div class="btn-form">
<button type="submit" class="edit-btn">EDIT THE INFORMATIONS</button>
</div>

</div>

</div>


</form>




</section>

{% endblock  %}