{% extends "layout.njk" %}

{% block content %}

<section class="bg-userForm">

<form action="" method="POST">

<div class="img-card">
<img src="form2.png" alt="">
</div>

<div class="info-card">

<div class="field-title">
<h1>Doug Squaid</h1>
</div>

<div class="field-items">
<label for="">date of procedure</label>
<div class="user">10/11/2084</div>
</div>

<div class="field-items">
<label for="">Gender</label>
<div class="user">Man</div>
</div>


<div class="field-items">
<label for="">Destination</label>
<div class="user">Mars</div>
</div>

<div class="field-items">
<label for="">Sexual orientation</label>
<div class="user">Hetero</div>
</div>

<div class="field-items">
<label for="">Would you like some aliens stuff?</label>
<div class="user">YES</div>
</div>

<div class="field-items">
<label for="">Role-playing</label>
<div class="user">Secret Agent</div>
</div>


<div class="btn-form">
<button class="edit-btn">EDIT THE INFORMATIONS</button>
</div>

</div>

</div>


</form>




</section>

{% endblock  %}